In [2]:
import pandas as pd
df = pd.DataFrame({'consumption': [10.51, 103.11, 55.48],

                   'co2_emissions': [37.2, 19.66, 1712]},

                   index=['Pork', 'Wheat Products', 'Beef'])

In [3]:
df

                consumption  co2_emissions
Pork                  10.51          37.20
Wheat Products       103.11          19.66
Beef                  55.48        1712.00

In [15]:
x=df.idxmax()
campo=x.loc['consumption']

In [24]:
df[['consumption']].loc[x.loc['consumption']].to_frame()

             Wheat Products
consumption          103.11